<launch>

    <arg name="vehicle" default="mono"/>
    <!--param name="ext_trig" type="bool" value="true" /-->

        <node
                pkg="mv_camera" 
                type="mv_camera_node" 
                name="mono_camera_node" 
                output="screen">
        <param name="guid" value="MV_CAMERA_25001299" />
        <param name="frame_rate" value="20" />
        <param name="pixel_clock" value="40."/>
        <param name="use_ros_time" value="true" />
        <remap from="camera" to="mono" />
        </node>


    <!-- configure the cameras -->
    <node   
            pkg="mv_camera" 
            name="cam_configurer"
            type="modify_mono_settings" 
            output="screen">
    <param name="ext_trig" value="true"/>
    </node>

</launch> 
