<launch>
  <node name="undistort_node" pkg="camera_models" type="undistort_node" output="screen">
    <param name="k1" value="-0.11942904404128449"/>
    <param name="k2" value="0.7508325550704041"/>
    <param name="p1" value="0.0015587810939366362" />
    <param name="p2" value="0.0010837708894181153" />

    <param name="fx" value="995.1785953528041"/>
    <param name="fy" value="998.3111318646817" />
    <param name="cx" value="371.33959819232643"/>
    <param name="cy" value="242.95949852333234" />
    <param name="xi" value="2.251914611202884" />

    <param name="width" value="752" />
    <param name="height" value="480" />

    <param name="input_topic" value="/mono/image_raw" />
    <param name="output_topic" value="/mono/image_rect" />
	<param name="output_file" value="mono_k.yaml"/>
  </node>
</launch>
