<launch>
<arg name="vehicle" value="mega"/>

<group ns="$(arg vehicle)">

    <!-- cmu-mavlink talk with px4 -->

    <node   pkg="cmu_mavlink"
            name="mavlink"
            type="cmu_mavlink"
            output="screen">
    <param name="serial/port" value="/dev/ttyUSB0"/>
    <param name="serial/baud" value="230400"/>
    <param name="frame_id/fixed" value="world"/>
    <param name="frame_id/imu" value="/imu"/>
    <param name="cmd_timeout_dt" value="0.2"/>
    <param name="rate/cmd" value="100.0"/>
    <remap from="~att" to="/imu"/>
    <remap from="~pd_cmd" to="/pd_cmd"/>
    <remap from="~voltage" to="/voltage"/>
    <remap from="~rc_scaled" to="/rc_scaled"/>
    </node>

</group>





</launch> 
