<launch>

<arg name="vehicle" default="hummer"/>
<arg name="filename" default="realbag_999"/>

<group ns="$(arg vehicle)">

	<node	pkg="rosbag"
			type="record"
			name="record"
			output="screen"
			args="-O /home/arkin/dataset/mvo_realbag/$(arg filename)
			/sync/image_rect
			/sync/gpio_time
			/itc/imu"
			/>
			
</group>

</launch>
