<launch>

<arg name="vehicle" default="hummer"/>
<arg name="filename" default="data_mono_imu"/>

<group ns="$(arg vehicle)">

	<node	pkg="rosbag"
			type="record"
			name="record"
			output="screen"
			args="-O /home/arkin/dataset/kalibr_bags/$(arg filename)
			/itc/imu
			/mono/image_raw"
			/>
			
</group>

</launch>
